
@{
    ViewBag.Title = "Course Management";
}

<article>
    <h1>Course Management</h1>
    <p>
        Welcome to Course Management.
        <br />
        <br/>
        Here you're able to manage courses with their students and teachers.
    </p>
</article>
